<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        #btn.active {
            cursor: pointer;
            background-color: blue;
        }
    </style>
</head>

<body>
    <!---v-bind 실습-->
    <div id="app">
        <!--page===p일 경우에만 active 활성화-->
        <button id="btn" v-for="p in pages" v-on:click="fun(p)" v-bind:class="{'active':page===p}">{{p}}</button>
        <div v-for="p in pages" v-if="page===p">
            <p>{{p}}contents</p>
            <img v-bind:src="p+'.PNG'">
        </div>
    </div>

    <script>
        var firstApp = new Vue({
            el: "#app",
            data: {
                pages: ["page1", "page2", "page3", "page4"],
                page: "page1"
            },
            methods: {
                fun: function(p) {
                    this.page = p
                }
            }
        });
    </script>
</body>

</html>