<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="deposit">
        잔고 : <input type="text" v-model="remain"><br> 회원님의 등급 :
        <span v-if="remain >= 10000000">Gold</span>
        <span v-else-if="remain >= 5000000">Silver</span>
        <span v-else-if="remain >= 2000000">Bronze</span>
        <span v-else>ETC</span>
    </div>
    <script>
        //vue가 적용된 태그에 입력할 데이터 저장하는 변수
        var test = {
            amount: 0
        };

        //vue 적용할 태그 범위 설정 및 데이터 표시
        var deposit = new Vue({
            el: "#deposit",
            data: test
        })
    </script>
</body>

</html>